.task__list {
  display: grid;
  gap: 10px;
}

.task__item-box {
  position: relative;
  display: flex;
  gap: 10px;
  height: fit-content;
  padding: 10px;
  border: 1px solid #5f6368;
  border-radius: 8px
}