.new-desk__input {
  margin-right: 15px;
}

.new-desk__button,
.remove-desk__button {
  padding: 10px 30px;
  font-size: 15px;
  background-color: #979797;
  border: none;
  border-radius: 8px;
  color: #202124;
  transition: 0.3s;
}

.new-desk {
  position: relative;
}

.main__not-desk {
  margin: 15% auto 0;
  width: fit-content;
  font-size: 20px;
  opacity: 0.7;
}

@media (min-width: 700px) {
  .main__container {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .new-desk__button:hover {
    background-color: #bbbbbb;
  }
}